body {
    font-family:"Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    background-color: #FFFFFF;
  }
  .part-title{
    width: 70%;
    margin: 50px 0 0 10%;
    padding: 0 0 0 20px;
    font-size: 200%;
    border-left: solid 8px #00bfff;
    border-bottom: solid 3px #DDD;
  }
.item{
  width: 300px;
  height: 400px;
  overflow: hidden;
  margin: 50px 0 0 200px;
  border : solid 1px #bbbbbb;
}
.item-pic {
  text-align: center;
}
.item-pic img{
  width: 300px;
}
.item-company {
  margin: 10px 0 20px 0;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}
.item-title{
  width: 250px;
  margin: 0 0 20px 25px;
}

.item-price{
  text-align: center;
  font-size: 140%;
  color: red;
}

.coupon{
  position: absolute;
  width: 300px;
  height:200px;
  overflow: hidden;
  margin: 50px 0 0 800px;
  border : dashed 1px #bbbbbb;
  font-size: 120%;
}

.orderBox{
  width: 500px;
  height: 300px;
  border: 2px solid #CCC;
  padding:10px 15px 20px 15px;
  margin: 50px 0 0 200px;
  font-size: 120%;
}

.orderBox input{
  height: 40px;
  margin: 20px 0 20px 20px;
  font-size: 120%;
}

.coupon-title{
  font-size:150%;
  margin: 10px 0 20px 0;
}
